@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDF8F0; /* Cream */
  --foreground: #333333; /* Text body */
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply font-dmsans;
  }

  h1, h2 {
    @apply font-playfair;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
